html {
    overflow: hidden !important;
}

.theme--dark.v-application {
    background-size: cover !important;
   background-image: url(https://wallpaperaccess.com/full/2837862.jpg) !important; 
}

.v-application--wrap {
  height: 100vh;
}

.v-main {
  max-height: 100%;
}

.v-main__wrap {
  overflow: auto;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 15px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #bdbdbd;
  }

  .fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}